# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# 添加以下内容
logs/
*.log
defaultLogs/
debugLogs/
conf/auth_state.json
Danmu.linux
conf/danmu_endpoint.json
conf/conf.yaml
.codex-ssh-askpass.cmd
